div class="text"
	h1 About Pic Modifier [alpha]
	p This applcation is useful to resize (soon, modify) your image.
	p Alpha version means this application will update the feature or the view as soon as possible. 